<!DOCTYPE html>
<html>
<head>
    <title>Greater or Less - Game</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Which is more popular?</h1>

    {{ if .error }}
        <p>{{.error}}</p>
        <form method="POST" action="/reset">
            <button type="submit">Начать сначала</button>
        </form>
    {{ else if and .Item1 .Item2 }}
    {{ if eq .Item1.Name .Item2.Name }}
        <p>Вы выиграли!</p>
    {{else}}
        <form method="POST">
            <input type="hidden" name="left" value="{{.Item1.ID.Hex}}">
            <input type="hidden" name="right" value="{{.Item2.ID.Hex}}">
            <button type="submit" name="choose_item1" value="{{.Item1.ID.Hex}}">
                <input type="hidden" name="form_type" value="item1">
                <img src="" alt="{{.Item1.ImageURL}}" width="200">
                <p>{{.Item1.Name}}</p>
            </button>
        </form>

        <form method="POST">
            <input type="hidden" name="left" value="{{.Item1.ID.Hex}}">
            <input type="hidden" name="right" value="{{.Item2.ID.Hex}}">
            <button type="submit" name="choose_item2" value="{{.Item2.ID.Hex}}">
                <input type="hidden" name="form_type" value="item2">
                <img src="" alt="{{.Item2.ImageURL}}" width="200">
                <p>{{.Item2.Name}}</p>
            </button>
        </form>
    {{end}}
    {{ else }}
        <p>Вы проиграли</p>
        <form method="GET" action="/">
            <button type="submit">Начать сначала</button>
        </form>
    {{ end }}
</body>
</html>