
<!DOCTYPE html>
<html>
<head>
    <title>Greater or Less - Game</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Which is more popular?</h1>

    {{ if .Error }}
        <p style="color: red;">{{ .Error }}</p>
    {{ end }}

    {{ if .Item1 }}
        <form method="POST">
            <input type="hidden" name="left" value="{{.Item1.ID.Hex}}">
            <input type="hidden" name="right" value="{{.Item2.ID.Hex}}">
            <button type="submit" name="choose_item1" value="{{.Item1.ID.Hex}}">
                <input type="hidden" name="form_type" value="item1">
                <img src="" alt="{{.Item1.ImageURL}}" width="200">
                <p>{{.Item1.Name}}</p>
            </button>
        </form>
    {{ end }}

    {{ if .Item2 }}
        <form method="POST">
            <input type="hidden" name="left" value="{{.Item1.ID.Hex}}">
            <input type="hidden" name="right" value="{{.Item2.ID.Hex}}">
            <button type="submit" name="choose_item2" value="{{.Item2.ID.Hex}}">
                <input type="hidden" name="form_type" value="item2">
                <img src="" alt="{{.Item2.ImageURL}}" width="200">
                <p>{{.Item2.Name}}</p>
            </button>
        </form>
    {{ end }}

</body>
</html>